<div class="v-card">
    <div class="v-card-icon "></div>
    <div class="v-card-info">
        <div class="v-card-row head">{{vehicle.mark}} {{vehicle.model}}</div>
        <div class="v-card-row cost">{{vehicle.cost}}</div>
        <div class="v-card-row" style="display: inline-flex">
            <div class="v-card-cell">Год: {{vehicle.year}}</div>
            <div class="v-card-cell">Пробег: {{vehicle.mileage}}</div>
        </div>
    </div>
</div>