.v-card {
  height: 100px;
  width: 100%;
  margin: 4px 0;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: inline-flex;
}
.v-card-row {
  width: 100%;
}
.v-card-row.cost {
  font-size: 2em;
  color: gray;
}
.v-card-row.head {
  color: #0054b9;
  font-size: 1.2em;
}
.v-card-cell {
  width: 30%;
}
.v-card-icon {
  height: 100%;
  width: 200px;
  background-color: lightslategrey;
}
.v-card-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 4px;
}