.main-middle-block {
  height: 100%;
  width: 1200px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.main-head-block {
  height: 100px;
  width: 100%;
  display: inline-flex;
}

.main-scene-block {
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.main-left-block {
  width: 450px;
  background-color: lightblue;
}

.main-right-block {
  padding: 4px 8px;
}

.main-form {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  width: 400px;
  background-color: #688;

  .form-line {
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
  }
}


