<div class="main-middle-block">
    <div class="main-head-block">
        <div style="width: 100%"></div>
    </div>
    <bar></bar>
    <div class="main-scene-block">
        <div class="main-scene-block">
            <router-outlet></router-outlet>
        </div>
    </div>
    <!--<div class="main-scene-block" [ngSwitch]="viewport.activeForm">-->
        <!--<div class="main-scene-block" *ngSwitchCase="1">-->
            <!--<div class="main-right-block" [ngSwitch]="viewport.activeForm">-->
                <!--<v-card *ngFor="let vehicle of vehicles" [vehicle]="vehicle"></v-card>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="main-scene-block" *ngSwitchCase="0">-->
            <!--<login-form></login-form>-->
        <!--</div>-->
        <!--<div class="main-scene-block" *ngSwitchCase="2">-->
            <!--<registry-form></registry-form>-->
        <!--</div>-->
    <!--</div>-->
</div>
