.bar {
  width: 100%;
  padding: 5px 0;

  .navbar {
    border-radius: 0;
    min-height: 30px;
    margin-bottom: 0;

    .navbar-collapse {
      padding-left: 3px;
    }
  }

  .navbar-form {
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 0;
    padding-right: 3px;
  }

  .navbar-nav {
    li {
      cursor: pointer;
      &.active {
        cursor: default;
      }
      a {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

