<div class="bar">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left">
                    <div class="input-group" style="width: 300px">
                        <input type="text" class="form-control" placeholder="Поиск...">
                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Найти</button>
                        </span>
                    </div>
                </form>
                <nav>
                    <ul class="nav navbar-nav">
                        <li routerLink="/auto" routerLinkActive="active">
                            <a href="#">Авто</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li routerLink="/registry" routerLinkActive="active">
                            <a href="#">Регистрация</a>
                        </li>
                        <li routerLink="/sign-in" *ngIf="!authService.loggedIn()" routerLinkActive="active">
                            <a href="#">Вход</a>
                        </li>
                        <li *ngIf="authService.loggedIn()">
                            <a href="#" (click)=authService.logout()>Выход</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </nav>

</div>