.flex-right {
  justify-content: flex-end;
  display: inline-flex;
}

.ng-invalid.ng-dirty.form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

  :focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  }
}

.form-group {
  margin-bottom: 10px;
  .alert {
    margin-bottom: 0;
    padding: 10px;
  }
  label {
    margin-bottom: 0;
  }
}