<div style="display: inline-flex; height: 100%">
    <div class="main-left-block"> </div>
    <div class="main-right-block">
        <v-card *ngFor="let vehicle of vehicles" [vehicle]="vehicle"></v-card>
    </div>
</div>