<form class="main-form" (ngSubmit)="registry()" [formGroup]="form">
    <div class="form-group" style="width: 100%">
        <label class="sr-only" for="username"></label>
        <input formControlName="username" type="text" id="username" class="form-control" placeholder="Логин">
        <div *ngIf="formErrors.username" class="alert alert-danger">
            {{ formErrors.username }}
        </div>
    </div>
    <div class="form-group" style="width: 100%">
        <label class="sr-only" for="password"></label>
        <input formControlName="password" type="password" id="password" class="form-control" placeholder="Пароль">
        <div *ngIf="formErrors.password" class="alert alert-danger">
            {{ formErrors.password }}
        </div>
    </div>

    <span class="form-line"></span>

    <div>
        <button role="button" class="btn btn-default pull-right" type="submit" [disabled]="form.invalid || submitted">Зарегистрироваться</button>
    </div>

</form>